<header id="hdr">
  <a class="logo" href="../index.html">
    <div class="logo-icon">
      <img src="../images/shefa Logo  1.svg" alt="Shefa Engineering Logo">
    </div>
  </a>
  <nav>
    <a href="index.html" data-page="index.html">Home</a>
    <a href="about.html" data-page="about.html">About</a>
    <a href="what-we-do/what-we-do.html" data-page="what-we-do.html">What We Do</a>
    <a href="management.html" data-page="management.html">Key-Persons</a>
    <a href="csr.html" data-page="csr.html">CSR</a>
    <a href="contact.html" data-page="contact.html">Contact Us</a>
  </nav>
  <div class="hamburger" id="hbg"><span></span><span></span><span></span></div>
</header>
<div class="mob-nav" id="mobNav">
  <a href="index.html">Home</a>
  <a href="about.html">Who We Are</a>
  <a href="what-we-do/what-we-do.html">What We Do</a>
  <a href="management.html">Key-Persons</a>
  <a href="csr.html">CSR</a>
  <a href="contact.html">Contact Us</a>
</div>
